.header
{
	width: 1380px;
	height: 100%;
	margin-bottom: 10px;
}

.my-h3
{
  text-align: center;
	font-family: Georgia, 'Times New Roman', Times, fantasy;
	font-size: 30pt;
}
.my-border
{
	border: 6px outset #dedede;
	background-color: #6c757d;
	color: white;
}
.my-name-form
{
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.my-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #e9ecef;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.3rem;
}
